/* .body {
  display: flex;
} */

.container {
  display: flex;
  flex-direction: row;
  width: 900px;
}

.secondary-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.square {
  background-color: rgb(216, 216, 216);
  margin: 0;
}

.hovered {
  background-color: rgb(102, 102, 102);
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  max-height: 900px;
}
